body{ background:#fff;font-family:"Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, "Heiti SC", sans-serif; font-size:.3rem; color:#333;}
.bgc{ background:#ededed;}

.swiper-container {width: 100%;padding-top:.3rem;padding-bottom:.3rem; }
.swiper-slide {background-position: center;background-size: cover; width:4.43rem; height: 7.88rem; }
.swiper-wrapper .on{ box-shadow:0px 8px 8px #b1b1b1;
    transform:scale(2.05);
    -webkit-transform:scale(2.05);
    -moz-transform:scale(2.05);
    -o-transform:scale(2.05);
    -ms-transform:scale(2.05);}

.top-title{ height:.9rem; line-height:.9rem; width:100%; font-size:.38rem; color:#fff; text-align:center; position:relative;}
.top-title .back{ width:.37rem; height:.57rem; background:url(../images/back.png) no-repeat; background-size:100% 100%; position:absolute; top:.12rem; left:.2rem;}
.top-title .tips{ position:absolute; display:inline-block; width:.33rem; height:.33rem; background:url(../images/ico4.png) no-repeat; background-size:100% 100%; right:.2rem; bottom:.25rem;}
.top-title .tips-info{ position:absolute; left:.24rem; top:.9rem; width:6.4rem; background:#fff; border-radius:4px; padding:.35rem .3rem .35rem .3rem; font-size:.3rem; color:#808080; text-align:left; z-index:9; display:none;}
.top-title .tips-info p{ line-height:.5rem;}
.top-title .tips-info .arrow{ display:inline-block; width:.3rem; height:.2rem; background:url(../images/ico5.png) no-repeat; background-size:100% 100%; position:absolute; right:.25rem; top:-.18rem;}
.mask{ width:100%; height:100%; background:#000; opacity:0.4; position:fixed; left:0; top:.9rem; display:none; z-index:6;}

.indexbox{ width:100%;}
.indexbox .title{ margin:.9rem .5rem 0 .5rem; border-top:1px solid #d0d0d0; color:#999; font-size:.24rem; text-align:center;}
.indexbox .title span{ position:relative; background:#fff; top:-.2rem; padding:0 .23rem;}

.indexbox .applombo .list1{ color:#808080; font-size:.26rem; overflow:hidden;}
.indexbox .applombo .list1 .li_list{ float:left;}
.indexbox .applombo .li-ip{ text-align:center; float:left; margin:.5rem 0 0 .68rem; position:relative; width:1.6rem;}
.indexbox .applombo .li-ip .logo{ width:1.2rem; height:1.2rem; border-radius:6px;}
.indexbox .applombo .li-ip .t{ padding-top:.26rem;}
.indexbox .applombo .li-ip .update{ display:inline-block; width:.27rem; height:.27rem; border-radius:100%; background:#f84848; border:1px solid #fff; position:absolute; right:0rem; top:-.08rem; border:2px solid #fff;}
.indexbox .applombo .cur{ text-align:center; padding:.67rem 0;}
.indexbox .applombo .cur li a{ display:inline-block; width:.2rem; height:.2rem; border-radius:100%; background:#ededed; margin-right:.1rem;}
.indexbox .applombo .cur li a.active{ background:#d9d9d9;}

.indexbox .footer{ position: absolute;bottom: .4rem;left: 50%;margin-left: -1.16rem;}
.indexbox .footer img{ width:2.32rem; height:.48rem;}

.chunk{ background:#fff; border-radius:4px; margin:.27rem .23rem 0 .23rem; padding:.3rem; color:#808080; position:relative;}
.chunk h1{ color:#333; font-size:.34rem;}
.chunk p{ padding-bottom:.12rem;}
.chunk .version{ padding:.1rem 0 .2rem 0;}
.chunk .r{ color:#666;}
.chunk .new{ width:.93rem; height:.87rem; background:url(../images/new.png) no-repeat; background-size:100% 100%; position:absolute; right:0; top:0; border-radius:0 4px 0 0;}
.chunk .last{ font-size:.32rem; color:#25bcd9; position:absolute; right:.3rem; bottom:.3rem;}
.chunk .red{ color:#f9767b;}
.chunk .ico1, .chunk .ico2, .chunk .ico3{ width:.24rem; display:inline-block; margin-right:.15rem; height:.24rem;}
.chunk .ico1{ background:url(../images/ico1.png) no-repeat; background-size:100% 100%;}
.chunk .ico2{ background:url(../images/ico2.png) no-repeat; background-size:100% 100%;}
.chunk .ico3{ height:.25rem; background:url(../images/ico3.png) no-repeat; background-size:100% 100%;}
.chunk-no{ background:#f8f8f8; color:#ccc;}
.chunk-no h1{ color:#a8a8a8;}
.chunk-no p{ color:#c2c2c2;}
.chunk-no p .r{ color:#b8b8b8;}
.chunk-no .last{ color:#f9767b;}

.report-menu{ font-size:.3rem; color:#666; display: -webkit-box; overflow-x:scroll; border-bottom:1px solid #898888; background:#fff;}
.report-menu li{ position:relative; padding:.25rem 0;}

.report-menu li a{ color:#666; text-decoration:none; display:inline-block; padding:0 .18rem;}
.report-menu li.on a{ color:#0dadcc;}
.report-menu li em{ display:inline-block; width:.66rem; height:.02rem; background:#0dadcc; position:absolute; bottom:0rem; left:50%; margin-left:-.33rem; display:none; z-index:1;}
.report-menu li.on em{ display:block;border:.015rem solid #0dadcc;}

.bgfff{ background:#fff; margin-top:.2rem; overflow:hidden; padding-bottom:.4rem;}
.big-title{ font-size:.36rem; color:#0dadcc; width:2.5rem; height:.4rem; margin:0 auto; border-bottom:1px solid #86d6e5; text-align:center; padding-top:.3rem;}
.big-title em{ display:inline-block; padding:0 .2rem; background:#fff; position:relative; top:.15rem;}
.bgfff .block{ border-bottom:1px solid #e9e8e8; padding:.4rem .3rem .3rem .3rem;}
.bgfff .block h2{ font-size:.3rem; color:#333; margin-bottom:.3rem;}
.bgfff .block h2 i{ display:inline-block; width:.04rem; height:.26rem; background:#25bcd9; margin-right:.1rem; position:relative; top:.03rem;}
.bgfff .block .list2{ overflow:hidden;}
.bgfff .block .list2 li{ text-align:center; width:3.29rem; float:left; margin-right:.3rem; margin-bottom:.4rem;/* overflow:hidden;*/}
.bgfff .block .list2 li:nth-child(even){margin-right:0;}
.bgfff .block .list2 li h3{ font-size:.24rem; color:#333;text-align:left; background:#25bcd9; color:#fff; padding:.03rem .14rem .04rem .15rem; border-radius:15px; float:left; margin-bottom:.22rem;}
.bgfff .block .list2 li .img{ width:2.25rem; height:2.22rem;}
.bgfff .block .list2 li .img img{ height:2.22rem;}
.bgfff .block .list2 li .describe{ text-align:left; font-size:.26rem; color:#5a5a5a; line-height:.46rem; margin-top:.2rem; word-break:break-all;}
.bgfff .block .list2 li.whole{ width:100%; margin-bottom:.5rem;}
.bgfff .block .list2 li.whole:last-child{ margin-bottom:0;}
.bgfff .block .list2 li.whole .img{ width:100%; height:3.1rem;}
.bgfff .block .list2 li.whole .img img{ height:3.1rem;}
.bgfff .block .list2 li.whole h3{ font-size:.28rem; text-align:center; color:#333; display:inline-block; background:none; float:none;}
.bgfff .block .list2 li.whole .describe{ background:#f8f8f8; border-radius:3px; padding:.1rem .1rem .1rem .2rem; margin-bottom:.25rem;}

.bgfff .block .chart{ text-align:center; margin-bottom:.3rem;}
.bgfff .block .chart .blc{ position:relative; text-align:center; height:1.45rem; display:inline-block; font-size:.25rem; color:#fff;}
.bgfff .block .chart .blc i{ display:inline-block; height:1.45rem; line-height:1.45rem; text-align:center; background:#5dced6; font-style:normal;}
.bgfff .block .chart .blc em{ color:#666; margin-top: .1rem;display: inline-block;}
.bgfff .block .hot-word{ padding-bottom:.35rem;}
.model-text{ font-size:.26rem; color:#5a5a5a; background:#f8f8f8; border-radius:3px; padding:.1rem .1rem .1rem .2rem; margin-bottom:.25rem;}
.model-text p{ line-height:.46rem; word-break:break-all;}
.model-text-nobg{ background:none; border-radius:3px; padding:.1rem .1rem .1rem .2rem; margin-bottom:0;}
.line{ width:100%; overflow:hidden; height:.15rem; background:#ededed;}

.proposal{ font-size:.26rem; color:#5a5a5a; padding:.3rem; margin-top:.2rem;}
.proposal p{ line-height:.46rem;}

.r-footer{ padding:.54rem 0 .68rem .8rem; overflow:hidden;}
.r-footer .end{ width:1.5rem; height:1.5rem; border-radius:100%; color:#fff; font-size:.37rem; text-align:center; line-height:1.5rem;}
.r-footer .right{ width:4.2rem; margin-left:.3rem; font-size:.26rem;}
.r-footer .right .ths{ font-size:.3rem; color:#686868; padding-bottom:.2rem; display:inline-block;}
.r-footer .right p{ line-height:.4rem; color:#898888;}

.backTop{ width:.81rem; height:.81rem; border-radius:100%; background:url(../images/top.png) no-repeat; background-size:100% 100%; position:fixed; bottom:.52rem; right:.13rem; display:none; z-index:10;}
.allMenu{ width:.81rem; height:.81rem; border-radius:100%; background:url(../images/allmenu.png) no-repeat; background-size:100% 100%; position:fixed; bottom:3.68rem; right:.17rem; z-index:10; }
.allMenu-unfold{ position:fixed; background:url(../images/menu-b.png) no-repeat; background-size:100% 100%; z-index:9; overflow:hidden; border-radius:100%; }
.allMenu-unfold .menu-mid{ width:.81rem; height:.81rem; border-radius:100%; position:absolute; right:1.47rem; top:1.46rem;}
.allMenu-unfold-hov{ 
	animation:mymove .20s infinite forwards;
	-webkit-animation:mymove .20s infinite forwards;
	animation-iteration-count:1;
	-webkit-animation-iteration-count:1;
}
@keyframes mymove
{
from { width:.81rem; height:.81rem; bottom:3.7rem; right:.16rem; opacity:0; }
to {width:3.77rem; height:3.79rem; bottom:2.19rem; right:-1.3rem; opacity:1;}
}
@-webkit-keyframes mymove 
{
from { width:.81rem; height:.81rem; bottom:3.7rem; right:.16rem; opacity:0; }
to {width:3.77rem; height:3.79rem; bottom:2.19rem; right:-1.3rem; opacity:1;}
}

.allMenu-unfold .un1, .allMenu-unfold .un2, .allMenu-unfold .un3, .allMenu-unfold .un4, .allMenu-unfold .un5{ position:absolute; color:#fff; font-size:.2rem; line-height:.28rem;}
.allMenu-unfold .un1 i, .allMenu-unfold .un2 i, .allMenu-unfold .un3 i, .allMenu-unfold .un4 i, .allMenu-unfold .un5 i{ display:block; width:.23rem; height:.23rem; border-radius:100%; text-align:center; line-height:.24rem; background:#949494; color:#4c4c4c; font-style:normal; margin-bottom:.1rem; margin-left:.1rem;}
.allMenu-unfold .un1{ top:.15rem; right:1.5rem; width:.48rem;}
.allMenu-unfold .un2{ top:.36rem; right:2.1rem; text-align:center; width:.96rem;}
.allMenu-unfold .un2 i{ margin-left:.38rem;}
.allMenu-unfold .un3{ top:1.2rem; right:2.9rem; text-align:center;}
.allMenu-unfold .un3 i{ margin-left:.2rem;}
.allMenu-unfold .un4{ top:2.2rem; right:2.6rem; text-align:center;}
.allMenu-unfold .un4 i{ margin-left:.2rem;}
.allMenu-unfold .un5{ top:2.6rem; right:1.7rem; text-align:center;}
.allMenu-unfold .un5 i{ margin-left:.2rem;}
.wid100{ width:100%;}

.bgfff .block0{ padding:.4rem 0 .3rem;}
.bgfff .block0 h2{ padding-left:.3rem;}
.bgfff .block0 .model-text{ margin:0.3rem; }

.picPop-up{ position:absolute; left:0; top:0; z-index:9; display:none;}
.picPop-up img{ width:6rem;}
.imgHtml{position: fixed;z-index:999;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.7);background-repeat: no-repeat;background-position: center center;}
.imgHtmlImg{position: absolute;max-width: 100%; max-height: 100%;}

.gradient{ filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#27c9d5,endcolorstr=#23aade,gradientType=1);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#27c9d5,endcolorstr=#23aade,gradientType=1);	
    background:#24b4dc; 
    background:-moz-linear-gradient(left, rgba(39,201,214,1), rgba(35, 170, 222, 1));  
	background:-webkit-linear-gradient(left,#27c8d6,#23aade);
    background:-o-linear-gradient(left, rgba(39,201,214,1), rgba(35, 170, 222, 1));}
	
#mynav{ position:relative; z-index:5; width:100%;}	

.find_nav_left { height:1.8rem;position: relative; margin-left:3.3rem;}
.find_nav_list {position: absolute;left: 0; font-size:12px;}
.find_nav_list ul {position: relative;}
.find_nav_list ul li {display: inline-block; }
.find_nav_list ul li a {font-size: 12px;}
.find_nav_list ul li a.active{ color:#f00;}
.sideline {display: block;position: absolute;border: 0;height: 2px;background-color: #48a5f4;left: 0;top: 68px;pointer-events: none;}

.proFrame{ position:fixed; top:0; left:0; z-index:10; display:none;}
.proFrame .openimg{ width:100%; margin: auto;left: 0;right: 0;top: 0;bottom: 0;position: fixed;}
.proFrame .description{ background:#000; opacity:.7; border-radius:5px; z-index:1; color:#fff; padding:.2rem .25rem; position:fixed; left:.5rem; top:.5rem;}
.proFrame .description p{ line-height:.5rem;}

.main-fm{ padding-bottom:.3rem; margin-bottom: .55rem;}
.swiper-wrapper .on{}

